.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33.33% - 20px); /* Adjust card width for larger screens */
}
.image {
  width: 100%;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.publishedDate {
  font-size: 0.9rem;
  color: #777;
}

@media (max-width: 768px) {
  /* Adjust card width for smaller screens */
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  /* Adjust card width for even smaller screens */
  .card {
    width: 100%;
  }
}